In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2022-01-24 20:30:15,73.5069,80.5464,10.45,85,100,32.70
1,1,Punta Arenas,CL,2022-01-24 20:30:15,-53.1500,-70.9167,60.82,54,40,44.87
2,2,Lebu,CL,2022-01-24 20:30:16,-37.6167,-73.6500,62.73,69,1,17.49
3,3,Tasiilaq,GL,2022-01-24 20:30:16,65.6145,-37.6368,23.16,63,100,10.09
4,4,Severo-Kurilsk,RU,2022-01-24 20:30:16,50.6789,156.1250,21.56,69,98,9.37

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [18]:
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloud
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Carnarvon,AU,2022-01-24 20:30:18,-24.8667,113.6333,75.27,83,0,16.11
12,12,Soyo,AO,2022-01-24 20:30:18,-6.1349,12.3689,77.34,83,82,7.99
13,13,Mar Del Plata,AR,2022-01-24 20:30:19,-38.0023,-57.5575,80.62,73,20,4.00
16,16,Celestun,MX,2022-01-24 20:30:19,20.8667,-90.4000,77.59,66,18,9.13
19,19,Victor Harbor,AU,2022-01-24 20:30:20,-35.5667,138.6167,77.90,90,70,5.79
21,21,Necochea,AR,2022-01-24 20:30:21,-38.5473,-58.7368,75.04,60,0,13.69
24,24,Castro,BR,2022-01-24 20:30:21,-24.7911,-50.0119,83.17,59,25,2.71
28,28,Lagos,NG,2022-01-24 20:28:18,6.5833,3.7500,82.72,79,4,5.17
29,29,Tiruppuvanam,IN,2022-01-24 20:30:22,9.8333,78.2667,75.20,79,100,4.00
31,31,Rikitea,PF,2022-01-24 20:30:23,-23.1203,-134.9692,78.53,70,100,19.10

In [28]:
preferred_cities_df.count()

City_ID       157
City          157
Country       154
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [29]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
11      Carnarvon      AU     75.27 -24.8667  113.6333
12           Soyo      AO     77.34  -6.1349   12.3689
13  Mar Del Plata      AR     80.62 -38.0023  -57.5575
16       Celestun      MX     77.59  20.8667  -90.4000
19  Victor Harbor      AU     77.90 -35.5667  138.6167
21       Necochea      AR     75.04 -38.5473  -58.7368
24         Castro      BR     83.17 -24.7911  -50.0119
28          Lagos      NG     82.72   6.5833    3.7500
29   Tiruppuvanam      IN     75.20   9.8333   78.2667
31        Rikitea      PF     78.53 -23.1203 -134.9692

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
12,Soyo,AO,77.34,-6.1349,12.3689,Hotel Mpampa
13,Mar Del Plata,AR,80.62,-38.0023,-57.5575,Gran Hotel Mar del Plata
16,Celestun,MX,77.59,20.8667,-90.4000,Posada Lilia
19,Victor Harbor,AU,77.90,-35.5667,138.6167,McCracken Country Club
21,Necochea,AR,75.04,-38.5473,-58.7368,dyd -mar Hotel
24,Castro,BR,83.17,-24.7911,-50.0119,CHACARA BAILLY
28,Lagos,NG,82.72,6.5833,3.7500,
29,Tiruppuvanam,IN,75.20,9.8333,78.2667,Velammal Lodge
31,Rikitea,PF,78.53,-23.1203,-134.9692,People ThankYou

In [41]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))