## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Hithadhoo,MV,81.64,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,5,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang
2,8,Kavieng,PG,83.52,broken clouds,-2.5744,150.7967,Nusa Island Retreat
3,12,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,People ThankYou
4,14,Atuona,PF,79.00,clear sky,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Curent Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Padang"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Padang"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Bengkulu"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Baturaja"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Payo"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.DataFrame({"Lat": vacation_start["Lat"] , "Lng": vacation_start["Lng"] } ).to_numpy()

end = pd.DataFrame({"Lat": vacation_end["Lat"] , "Lng": vacation_end["Lng"] } ).to_numpy()

stop1 = pd.DataFrame( {"Lat": vacation_stop1["Lat"] , "Lng": vacation_stop1["Lng"] } ).to_numpy()

stop2 = pd.DataFrame( {"Lat": vacation_stop2["Lat"] , "Lng": vacation_stop2["Lng"] } ).to_numpy()

stop3 = pd.DataFrame( {"Lat": vacation_stop3["Lat"] , "Lng": vacation_stop3["Lng"] } ).to_numpy()

In [7]:
start = start[0]
end = end[0]
stop1 = stop1[0]
stop2 = stop2[0]
stop3 = stop3[0]

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

travel_stop = gmaps.directions_layer(
    start , end,
    waypoints=[stop1,stop2,stop3],
    travel_mode='DRIVING'
    )
fig.add_layer(travel_stop)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3 ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,607,Padang,ID,80.65,overcast clouds,-0.9492,100.3543,Mercure Padang
1,166,Bengkulu,ID,79.25,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,677,Baturaja,ID,82.51,broken clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
3,198,Payo,ID,80.47,broken clouds,-3.7508,103.6372,Mess keban agung

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Curent Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-3.5, 100.0), zoom_level=4.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))